div(layout='column')
  md-button.md-accent( flex='25', flex-offset='75', ui-sref='home') Почати з початку
md-divider

h2 Field choice
  //- md-no-cache='ctrl.noCache',
  //- md-item-text='city.name',
  //- md-search-text='vm.userData.cityName',

div(layout='column')
  md-content.md-padding
    form
      md-autocomplete(
        md-selected-item='vm.choice.city',
        md-items='city in vm.filter(vm.specData,searchText)',
        md-item-text='city.name',
        md-min-length='0',
        md-search-text-change='vm.convert(city)',
        md-search-text='searchText',
        md-selected-item-change='vm.convert(city)',
        placeholder='Введ1ть м1сто')
        md-item-template
          span(md-highlight-text='searchText') {{city.name}}
      //- input(type='text', step='any', name='rate', ng-model='vm.userData.uniName')
      //- 
      //- input(type='number', step='any', name='rate', ng-model='vm.userData.facultatyName')
      //- 
      //- input(type='number', step='any', name='rate', ng-model='vm.userData.specialityName')
      //- input(type='number', step='any', name='rate', ng-model='vm.userData.fieldName')

md-button( flex='45', flex-xs='100', ng-click='vm.postScores(vm.userData)') 
  | Get id

md-button( flex='45', flex-xs='100', ng-click='vm.postChoice(vm.userData)') 
  | Get answers

p User data: city name
p(ng-bind='vm.userData.cityName')

p User data: id
p(ng-bind='vm.userData.userId')

p Choice : city name
p(ng-bind='vm.choice.city.name')

p Choice: Univer name
p(ng-bind='vm.choice.univer.name')
