div(layout='row', layout-align='end center')
  md-button.md-warn( flex='20', flex-xs='50', ui-sref='home', ng-click='vm.cleanUserChoice()') Почати з початку
md-divider

md-content(layout='column')
  md-autocomplete.md-padding(
    md-no-cache='true',
    md-selected-item='vm.currentUser.city',
    md-items='city in vm.filter(vm.universData, searchCity)',
    md-item-text='city.name',
    md-search-text='searchCity',
    md-search-text-change='vm.bindUser()',
    md-selected-item-change='vm.bindUser()',
    md-min-length='0',
    placeholder='Регіон')
    md-item-template
      span(md-highlight-text='searchText') {{city.name}}

  md-autocomplete.md-padding(
    md-no-cache='true',
    ng-disabled="!vm.currentUser.city",
    md-selected-item='vm.currentUser.university',
    md-items='university in vm.filter(vm.currentUser.city.univerList, searchUniver)',
    md-item-text='university.name',
    md-search-text='searchUniver',
    md-min-length='0',
    md-search-text-change='vm.bindUser()',
    md-selected-item-change='vm.bindUser()',
    placeholder='Університет')
    md-item-template
      span(md-highlight-text='searchUniver') {{university.name}}

  md-autocomplete.md-padding(
    md-no-cache='true',
    ng-disabled="!vm.currentUser.university",
    md-selected-item='vm.currentUser.facultaty',
    md-items='facultaty in vm.filter(vm.currentUser.university.facultatyList, searchFacultaty)',
    md-item-text='facultaty.name',
    md-search-text='searchFacultaty',
    md-min-length='0',
    md-search-text-change='vm.bindUser()',
    md-selected-item-change='vm.bindUser()',
    placeholder='Факультет')
    md-item-template
      span(md-highlight-text='searchFacultaty') {{facultaty.name}}
      
  md-autocomplete.md-padding(
    md-no-cache='true',
    ng-disabled="!vm.currentUser.facultaty",
    md-selected-item='vm.currentUser.field',
    md-items='field in vm.filter(vm.currentUser.facultaty.spetializationList, searchField)',
    md-item-text='field',
    md-search-text='searchField',
    md-min-length='0',
    md-search-text-change='vm.bindUser()',
    md-selected-item-change='vm.bindUser()',
    placeholder='Напрямок підготовки')
    md-item-template
      span(md-highlight-text='searchField') {{field}}

md-content.md-padding(layout, layout-align="center center")
  md-button.md-primary.md-raised( flex='45', flex-xs='100', ng-disabled="!vm.userData.certificateScore", ng-click='vm.getSpecList()') 
    | Ймовірність вступу

include result.jade
